<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Københavnerbilleder</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde molestiae
        amet placeat eaque. Iusto tempore beatae corrupti blanditiis, iste
        cumque consequatur nemo? Ipsum non, et quisquam harum molestias dicta
        officiis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
        velit sint adipisci tempore, dolor molestias suscipit accusamus incidunt
        excepturi saepe voluptatem illo iure, enim ex tenetur molestiae
        repudiandae rem esse.lorem Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Provident at delectus, recusandae odit eius enim
        consectetur obcaecati, tempora fuga modi libero distinctio reiciendis
        vitae ad officia voluptates aliquid pariatur eveniet.
      </p>
    </main>
  </body>
</html>
