---
import Header from "../components/Header.astro";
import Bogen from "../components/Bogen.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
import Kapitler from "../components/Kapitler.astro";
import Forfatteren from "../components/Forfatteren.astro";
import Billeder from "../components/Billeder.astro";
import Køb from "../components/Køb.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/sow1cek.css" />
    <title>Københavnerbilleder</title>
  </head>

  <body>
    <Header />
    <main>
      <Bogen />
      <Anmeldelser />
      <Kapitler />
      <Forfatteren />
      <Billeder />
      <Køb />
    </main>
  </body>

  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>

  <!-- farver:
sort #2c2c2c
lysegrå #474747
lysebrun #C5BAAA
orange #EE7828
hvis tekst #fbfaf9 -->
</html>
