<a id="bogen">
  <section>
    <h2>Om bogen</h2>
    <h3>Københavnerbilleder - en guide til hipster foto</h3>
    <h4>af Sten Simons</h4>
    <img src="../../public/img/kobenhavnerbilleder-sten-simons.jpg" />
    <p>
      Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion
      mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige
      aspekter af streetfotografering fra grundlæggende teknik til kreative
      eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God
      læselyst!
    </p>
    <ul>
      <li>Titel: Københavnerbilleder - en guide til hipster foto</li>
      <li>Forfatter: Sten Simons</li>
      <li>Antal sider: 344</li>
      <li>Forlag: Mellem Linjerne</li>
      <li>ISBN: 987-6-987654-32-1</li>
      <li>Pris: 399.-</li>
    </ul>
    <aside>
      <div>
        <img src="../../public/img/kobenhavnerbilleder_aaben_venstre.jpg" />
        <img src="../../public/img/kobenhavnerbilleder_oppefra.jpg" />
      </div>
      <img src="../../public/img/sten_simons.jpg" />
    </aside>
  </section>
</a>
<style>
  section {
    background-color: #c5baaa;
    margin: 0;
    padding: 20px;
  }
  h2,
  h3,
  h4,
  p {
    color: #2c2c2c;
  }
  h2,
  h3,
  h4 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  p,
  li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    margin: 0;
  }
  ul {
    list-style-type: none;
    background-color: #2c2c2c;
    color: #fbfaf9;
    padding: 40px;
    margin: 0 -20px 0 -20px;
  }
  aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    align-items: center;
  }
  aside div {
    display: grid;
  }
</style>
