<a id="forfatteren">
  <section>
    <h2>Forfatteren</h2>
    <p>
      Sten Simons har en lang foto-karriere bag sig. Det hele startede i
      00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
      forfald. Det ledte til en række udstillinger, og blev senere til hans
      først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
    </p>
    <p>
      Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en
      masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende
      begyndte han at undervise i foto, og har skrevet et utal af bøger,
      herunder bestsellerne <em
        >Scener fra S-toget, Brun mad - en visuel odysse</em
      >, og lærebogen <em>Fotografering for evnesvage.</em>
    </p>
    <img src="../../public/img/sten_simons.jpg" />
  </section>
</a>
<style>
  section {
    background-color: #ee7828;
    margin: 0;
    padding: 20px;
  }
  h2,
  p {
    color: #2c2c2c;
  }
  h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  img {
    max-width: 100%;
  }
</style>
