<a id="forfatteren">
  <section>
    <h2>Forfatteren</h2>
    <p>
      Sten Simons har en lang foto-karriere bag sig. Det hele startede i
      00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
      forfald. Det ledte til en række udstillinger, og blev senere til hans
      først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
    </p>
    <p>
      Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en
      masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende
      begyndte han at undervise i foto, og har skrevet et utal af bøger,
      herunder bestsellerne <em
        >Scener fra S-toget, Brun mad - en visuel odysse</em
      >, og lærebogen <em>Fotografering for evnesvage.</em>
    </p>
    <img src="/img/sten_simons.jpg" />
  </section>
</a>
<style>
  section {
    background-color: #ee7828;
    margin: 0;
    padding: 30px;
  }
  h2 {
    font-family: "lulo-outline", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #fbfaf9;
  }
  p {
    font-family: monospace;
    line-height: 1.6;
    font-size: 14px;
    color: #2c2c2c;
  }
  img {
    max-width: 100%;
    border: #fbfaf9 2px solid;
  }
</style>
