<nav>
  <h1>Københavnerbilleder</h1>
  <ul>
    <li><a href="#bogen">Bogen</a></li>
    <li><a href="#anmeldelser">Anmeldelser</a></li>
    <li><a href="#kapitler">Bogens indhold</a></li>
    <li><a href="#forfatteren">Forfatteren</a></li>
    <li><a href="#billeder">Billeder</a></li>
    <li><a href="#køb">Køb her</a></li>
  </ul>
</nav>

<style>
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  li {
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: #fbfaf9;
    font-family: "Courier New", Courier, monospace;
  }
  nav {
    background-color: #2c2c2c;
    padding: 20px;
    margin: 0;
  }
  h1 {
    color: #ee7828;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  @media (max-width: 800px) {
    ul {
      display: none;
    }
    h1 {
      padding-bottom: 10px;
    }
  }
</style>
