<a id="kapitler">
  <section>
    <h2>Kapitler</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      cupiditate ipsum eveniet sequi totam voluptates sint debitis maiores
      dolores voluptas expedita quia aut incidunt excepturi, nam possimus nulla
      consectetur quam.
    </p>
  </section>
</a>
<style>
  section {
    background-color: #474747;
    margin: 0;
    padding: 20px;
  }
  h2,
  p {
    color: #fbfaf9;
  }
  h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  p {
    font-family: "Courier New", Courier, monospace;
  }
</style>
